table {
    box-sizing: border-box;
    position: absolute;
    overflow: hidden;
    top: 1em;
    left: 1em;
    border-radius: 0.3em;
}

tr>th, tr>td {
    font-family: 'Hedvig Letters Sans', sans-serif;
    padding: 1em 1.5em;
}

tr:nth-child(1)>th>span {
    display: block;
}

tr:nth-child(1)>th {
    text-align: center;
    font-weight: bold;
    color: white;
    letter-spacing: 0.07em;
}

tr:nth-child(1)>th>span:nth-child(2) {
    font-size: 150%;
    margin-top: 1em;
    margin-bottom: 0.4em;
}

tr:nth-child(1)>th:nth-child(1) {
    vertical-align: middle;
    background-color: #7686ab;
}

tr:nth-child(1)>th:nth-child(2) {
    background-color: #4a5d8a;
}

tr:nth-child(1)>th:nth-child(3) {
    background-color: #2a3d6d;
}

tr:nth-child(1)>th:nth-child(4) {
    background-color: #13244c;
}

tr:nth-child(1)>th:nth-child(5) {
    background-color: #051334;
}
